* {
  margin: 0;
  padding: 0;
}

/*for navbar*/
.dropdown {
  position: relative;
  color: white;
  margin-right: 10px;
}
.dropdown-content {
  position: absolute;

  top: 700%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkorange;
  width: 350px;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  z-index: 1;
  display: grid;
  justify-items: center;
  border-radius: 5px;
}
/*for home page*/
.carousel {
  height: 85vh;
  background: url("./images/carousel_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
}
.filters {
  margin: auto auto;
  width: 90%;
  background: rgba(15, 228, 2, 1);
  padding: 15px;
  border-radius: 10px;
}
.form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 4fr 3fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
}
.name {
  position: relative;
  background-color: white;
  border: solid 1px;
  border-color: gray;
  padding-left: 10px;
  padding-right: 5px;
  height: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 4px;
  margin: 10px 0;
}
.name2 {
  position: relative;
  background-color: white;
  border: solid 1px;
  border-color: gray;
  padding-left: 10px;
  padding-right: 0px;
  height: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 4px;
  margin: 10px 0;
}
.DateInput_input {
  padding: 11px 0 9px !important;
  font-weight: normal !important;
}
.DateRangePickerInput__withBorder {
  border: none !important;
}
.DateInput {
  width: 110px !important;
}
.datePicker {
  padding-right: 0px;
}
.e-datepicker {
  padding: 0px;
}
.e-date-wrapper {
  padding: 0;
}
.searchicon {
  color: dodgerblue;
  font-size: larger;
  margin: auto auto;
}
.name input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: larger;
  background-color: white;
}
.daterange {
  padding-left: 4px;
}
.search {
  position: relative;
  background-color: rgb(13, 110, 253);
  height: 50px;
  color: white;
  border: none;
  border-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}
.search p {
  position: absolute;
  float: center;
  margin: 0 0;
  font-size: larger;
  font-weight: normal;
}

.container {
  max-width: 95vw;
}
.content {
  width: 93vw;
  margin: 15px auto;
}
.scrollforpast {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
/* to get rid of scrollbar*/
.scrollforpast::-webkit-scrollbar {
  display: none;
}

.cardforpast {
  display: inline-block;
  width: 25vw;
  height: fit-content;
  line-height: 90%;
  margin: 5px 20px 5px 0px;
  position: relative;
  vertical-align: top;
}
.cardforpast img {
  width: 100%;
  height: 60%;
  border-radius: 5px;
}
.popular {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}
.popularcard {
  position: relative;
  height: 28vh;
  margin-bottom: 20px;
  overflow: hidden;
}
.popularcard img {
  width: 100%;
  height: 85%;
  border-radius: 8px;
}
.world1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.cardforworld {
  position: relative;
  height: 60vh;
  margin-bottom: 10px;
}
.cardforworld img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
  margin-bottom: 15px;
}
.seemorebtn {
  display: block;
  margin: auto auto;
  padding: 10px 25px;
  background-color: rgb(243, 241, 241);
  color: dodgerblue;
  font-size: large;
  font-weight: 550;
  border: solid dodgerblue 2px;
  border-radius: 30px;
}
@media only screen and (max-width: 768px) {
  .form {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .cardforpast {
    width: 50vw;
  }
  .popular {
    display: block;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .popular::-webkit-scrollbar {
    display: none;
  }
  .popularcard {
    display: inline-block;
    width: 35vw;
    height: 160px;
    margin: 5px 10px;
    position: relative;
  }
  .world1 {
    grid-template-columns: 1fr 1fr;
  }
  .cardforworld {
    height: 40vh;
  }
  .cardforworld img {
    height: 70%;
  }
}

/*CSS for List page */
.formforlist {
  display: grid;
  grid-template-rows: 0.7fr 0.7fr 1fr 0.7fr;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.filtersforlist {
  margin: auto auto;
  width: 100%;
  background: rgba(15, 228, 2);
  padding: 5px;
  border-radius: 10px;
  padding: 10px 2px;
}
.sort {
  position: relative;
  margin-right: 20px;
  color: dodgerblue;
  background-color: whitesmoke;
  padding: 8px 28px;
  border: solid whitesmoke;
  border-radius: 4px;
}
.sort1,
.sort2,
.sort3,
.sort4 {
  position: relative;
  margin-right: 20px;
  color: white;
  background-color: dodgerblue;
  padding: 8px 28px;
  border: solid dodgerblue;
  box-shadow: 0 0px 15px rgba(13, 110, 253);
  border-radius: 4px;
}
.realfilters {
  margin: 23px 0px;
}
.checkboxes {
  margin-top: -15px;
}
.checkboxes label {
  margin: 12px 0;
}
.checkboxes label input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
input[type="range"] {
  width: 90%;
}

.loaderforlist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.onlydesktop {
  color: crimson;
  display: none;
}
.hotellist {
  margin-top: 15px;
}
.contentforhotellist {
  width: 93vw;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
}
.cardforhotellist {
  padding: 15px;
  border: solid gray 1px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  column-gap: 15px;
  margin-bottom: 10px;
}
.hotelimage img {
  width: 100%;
  border-radius: 3px;
}
.distance {
  margin: 0;
  font-size: small;
  margin-bottom: -20px;
}
.locality {
  font-size: larger;
  margin: 0;
  font-weight: 500;
}

.hotelrating {
  background-color: #1e90ff;
  padding: 0 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}
.moredetails {
  background-color: dodgerblue;
  color: white;
  border-radius: 30px;
  padding: 3px 10px;
  position: relative;
  float: right;
  margin: 0;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .contentforhotellist {
    grid-template-columns: 1fr;
  }

  .cardforhotellist {
    display: block;
    overflow: hidden;
  }
  .sortby {
    display: none;
  }
  .centerdata {
    margin-top: 10px;
  }
  .locality {
    font-size: small;
    display: inline;
    font-weight: normal;
  }
  .distance {
    display: inline;
    padding-left: 10px;
  }
  .distance > li:first-child {
    display: inline-block;
  }

  .seconddistance {
    display: none;
  }
  .realfilters {
    display: none;
  }
  .onlydesktop {
    display: block;
  }
  .moredetails {
    display: none;
  }
}

/*CSS for details page */

.details {
  width: 88vw;
  margin: 15px auto;
}
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 10px;
}
.starter {
  display: grid;
  grid-template-columns: 3fr 8fr;
  column-gap: 10px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 28px !important;
  opacity: 10 !important;
  z-Index: 2 !important;
}
.slick-next:before {
  color: black !important;
  margin-left: -40px !important;
}
.slick-prev:before {
  color: black !important;
  margin-right: -40px !important;
  z-Index: 1 !important;
}
.imageslider {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  border-radius: 30px;
  
}

.imageforslide {
  height: 75vh;
  width: 100%;
  
}
.rcategory {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  column-gap: 10px;
}
.rating > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 240px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.ratingbox {
  background: rgba(15, 228, 2);
  border: solid rgba(15, 228, 2);
  border-radius: 5px;
}
.starbox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
}
.categorybox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.actualrating {
  background-color: white;
  padding: 2px 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: center;
}

.cardforreviews {
  margin-left: 20px;
  padding: 15px 10px 10px 10px;
  border: solid whitesmoke;
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.cardforreviews::-webkit-scrollbar {
  width: 40px;
}
.hightlights > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 240px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.hightlights .values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.hightlights .values ul {
  list-style-type: none;
  padding: 0;
}
.inhotel .values {
  -webkit-columns: 250px 3;
  -moz-columns: 250px 3;
  columns: 250px 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 30px;
}
.inhotel > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 150px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.inroom > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 150px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.policies > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 100px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.policypara p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .header {
    display: block;
  }
  .starter {
    display: block;
  }
  .hightlights .values {
    display: block;
  }
  .rcategory {
    display: block;
  }
  .ratingbox {
    width: 75%;
    margin: auto auto;
  }
  .starbox {
    margin-top: 25px;
  }
  .categorybox {
    margin-top: 25px;
    margin-left: 20px;
    display: block;
  }
}

/*for register page*/
.register {
  font-family: "Nunito", sans-serif;
}
.register form {
  max-width: 450px;
  margin: 10px auto;
  padding: 10px 20px;
  border: solid #e8eeef;
  border-radius: 8px;
  background-color: white;
}
.register h2 {
  text-align: center;
}
.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px 15px;
  width: 100%;
  background-color: #e8eeef;

  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}
.register button {
  padding: 5px 39px 5px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.register fieldset {
  border: none;
}
.register label {
  display: block;
  margin-bottom: 2px;
  font-weight: 550;
}

.register label.light {
  font-weight: 300;
  display: inline;
}

/*for footer*/
.footer {
  color: white;
  background-color: #0d6efd;
  padding: 40px 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  padding-bottom: 0;
}

.contact {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 7fr;
  column-gap: 10px;
}
.contactform {
  width: 95%;
}
.contactform input[type="text"],
.contactform input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px 15px;
  width: 100%;
  background-color: #e8eeef;

  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}
.contactform textarea {
  height: 90px;
}

.contactform fieldset {
  border: none;
}
.contactform label {
  display: block;
  margin-bottom: 2px;
  font-weight: 550;
}

.contactform label.light {
  font-weight: 300;
  display: inline;
}
.contactform button {
  padding: 5px 39px 5px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: block;
  }
  .contact {
    display: block;
  }
  .loaderforlist {
    height: 400px;
  }
}
