* {
  margin: 0;
  padding: 0;
}

/*for navbar*/
.dropdown {
  position: relative;
  color: white;
  margin-right: 10px;
}
.dropdown-content {
  position: absolute;

  top: 700%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkorange;
  width: 350px;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  z-index: 1;
  display: grid;
  justify-items: center;
  border-radius: 5px;
}
/*for home page*/
.carousel {
  height: 85vh;
  background: url("./images/carousel_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
}
.filters {
  margin: auto auto;
  width: 90%;
  background: rgba(15, 228, 2, 1);
  padding: 15px;
  border-radius: 10px;
}
.form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 4fr 3fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
}
.name {
  position: relative;
  background-color: white;
  border: solid 1px;
  border-color: gray;
  padding-left: 10px;
  padding-right: 5px;
  height: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 4px;
  margin: 10px 0;
}
.name2 {
  position: relative;
  background-color: white;
  border: solid 1px;
  border-color: gray;
  padding-left: 10px;
  padding-right: 0px;
  height: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 4px;
  margin: 10px 0;
}
.DateInput_input {
  padding: 11px 0 9px !important;
  font-weight: normal !important;
}
.DateRangePickerInput__withBorder {
  border: none !important;
}
.DateInput {
  width: 110px !important;
}
.datePicker {
  padding-right: 0px;
}
.e-datepicker {
  padding: 0px;
}
.e-date-wrapper {
  padding: 0;
}
.searchicon {
  color: dodgerblue;
  font-size: larger;
  margin: auto auto;
}
.name input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: larger;
  background-color: white;
}
.daterange {
  padding-left: 4px;
}
.search {
  position: relative;
  background-color: rgb(13, 110, 253);
  height: 50px;
  color: white;
  border: none;
  border-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}
.search p {
  position: absolute;
  float: center;
  margin: 0 0;
  font-size: larger;
  font-weight: normal;
}

.container {
  max-width: 95vw;
}
.content {
  width: 93vw;
  margin: 15px auto;
}
.scrollforpast {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
/* to get rid of scrollbar*/
.scrollforpast::-webkit-scrollbar {
  display: none;
}

.cardforpast {
  display: inline-block;
  width: 25vw;
  height: fit-content;
  line-height: 90%;
  margin: 5px 20px 5px 0px;
  position: relative;
  vertical-align: top;
}
.cardforpast img {
  width: 100%;
  height: 60%;
  border-radius: 5px;
}
.popular {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}
.popularcard {
  position: relative;
  height: 28vh;
  margin-bottom: 20px;
  overflow: hidden;
}
.popularcard img {
  width: 100%;
  height: 85%;
  border-radius: 8px;
}
.world1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.cardforworld {
  position: relative;
  height: 60vh;
  margin-bottom: 10px;
}
.cardforworld img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
  margin-bottom: 15px;
}
.seemorebtn {
  display: block;
  margin: auto auto;
  padding: 10px 25px;
  background-color: rgb(243, 241, 241);
  color: dodgerblue;
  font-size: large;
  font-weight: 550;
  border: solid dodgerblue 2px;
  border-radius: 30px;
}
@media only screen and (max-width: 768px) {
  .form {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .cardforpast {
    width: 50vw;
  }
  .popular {
    display: block;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .popular::-webkit-scrollbar {
    display: none;
  }
  .popularcard {
    display: inline-block;
    width: 35vw;
    height: 160px;
    margin: 5px 10px;
    position: relative;
  }
  .world1 {
    grid-template-columns: 1fr 1fr;
  }
  .cardforworld {
    height: 40vh;
  }
  .cardforworld img {
    height: 70%;
  }
}

/*CSS for List page */
.formforlist {
  display: grid;
  grid-template-rows: 0.7fr 0.7fr 1fr 0.7fr;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.filtersforlist {
  margin: auto auto;
  width: 100%;
  background: rgba(15, 228, 2);
  padding: 5px;
  border-radius: 10px;
  padding: 10px 2px;
}
.sort {
  position: relative;
  margin-right: 20px;
  color: dodgerblue;
  background-color: whitesmoke;
  padding: 8px 28px;
  border: solid whitesmoke;
  border-radius: 4px;
}
.sort1,
.sort2,
.sort3,
.sort4 {
  position: relative;
  margin-right: 20px;
  color: white;
  background-color: dodgerblue;
  padding: 8px 28px;
  border: solid dodgerblue;
  box-shadow: 0 0px 15px rgba(13, 110, 253);
  border-radius: 4px;
}
.realfilters {
  margin: 23px 0px;
}
.checkboxes {
  margin-top: -15px;
}
.checkboxes label {
  margin: 12px 0;
}
.checkboxes label input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
input[type="range"] {
  width: 90%;
}

.loaderforlist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.onlydesktop {
  color: crimson;
  display: none;
}
.hotellist {
  margin-top: 15px;
}
.contentforhotellist {
  width: 93vw;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
}
.cardforhotellist {
  padding: 15px;
  border: solid gray 1px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  column-gap: 15px;
  margin-bottom: 10px;
}
.hotelimage img {
  width: 100%;
  border-radius: 3px;
}
.distance {
  margin: 0;
  font-size: small;
  margin-bottom: -20px;
}
.locality {
  font-size: larger;
  margin: 0;
  font-weight: 500;
}

.hotelrating {
  background-color: #1e90ff;
  padding: 0 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}
.moredetails {
  background-color: dodgerblue;
  color: white;
  border-radius: 30px;
  padding: 3px 10px;
  position: relative;
  float: right;
  margin: 0;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .contentforhotellist {
    grid-template-columns: 1fr;
  }

  .cardforhotellist {
    display: block;
    overflow: hidden;
  }

  .sortby {
    display: none;
  }
  .centerdata {
    margin-top: 10px;
  }
  .locality {
    font-size: small;
    display: inline;
    font-weight: normal;
  }
  .distance {
    display: inline;
    padding-left: 10px;
  }
  .distance > li:first-child {
    display: inline-block;
  }

  .seconddistance {
    display: none;
  }
  .realfilters {
    display: none;
  }
  .onlydesktop {
    display: block;
  }
  .moredetails {
    display: none;
  }
}

/*CSS for details page */

.details {
  width: 88vw;
  margin: 15px auto;
}
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 10px;
}
.starter {
  display: grid;
  grid-template-columns: 3fr 8fr;
  column-gap: 10px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 28px !important;
  opacity: 10 !important;
  z-Index: 2 !important;
}
.slick-next:before {
  color: black !important;
  margin-left: -40px !important;
}
.slick-prev:before {
  color: black !important;
  /* margin-right: -40px !important; */
  z-Index: 1 !important;
}
.imageslider {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  border-radius: 30px;
  
}

.imageforslide {
  height: 75vh;
  width: 100%;
  
}
.rcategory {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  column-gap: 10px;
}
.rating > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 240px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.ratingbox {
  background: rgba(15, 228, 2);
  border: solid rgba(15, 228, 2);
  border-radius: 5px;
}
.starbox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
}
.categorybox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.actualrating {
  background-color: white;
  padding: 2px 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: center;
}

.cardforreviews {
  margin-left: 20px;
  padding: 15px 10px 10px 10px;
  border: solid whitesmoke;
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.cardforreviews::-webkit-scrollbar {
  width: 40px;
}
.hightlights > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 240px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.hightlights .values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.hightlights .values ul {
  list-style-type: none;
  padding: 0;
}
.inhotel .values {
  -webkit-columns: 250px 3;
  -moz-columns: 250px 3;
  columns: 250px 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 30px;
}
.inhotel > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 150px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.inroom > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 150px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.policies > p:after {
  content: ".";
  display: block;
  height: 20px;
  width: 100px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 3px solid rgba(15, 228, 2, 1);
}
.policypara p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .header {
    display: block;
  }
  .starter {
    display: block;
  }
  .hightlights .values {
    display: block;
  }
  .rcategory {
    display: block;
  }
  .ratingbox {
    width: 75%;
    margin: auto auto;
  }
  .starbox {
    margin-top: 25px;
  }
  .categorybox {
    margin-top: 25px;
    margin-left: 20px;
    display: block;
  }
}

/*for register page*/
.register {
  font-family: "Nunito", sans-serif;
}
.register form {
  max-width: 450px;
  margin: 10px auto;
  padding: 10px 20px;
  border: solid #e8eeef;
  border-radius: 8px;
  background-color: white;
}
.register h2 {
  text-align: center;
}
.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px 15px;
  width: 100%;
  background-color: #e8eeef;

  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}
.register button {
  padding: 5px 39px 5px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.register fieldset {
  border: none;
}
.register label {
  display: block;
  margin-bottom: 2px;
  font-weight: 550;
}

.register label.light {
  font-weight: 300;
  display: inline;
}

/*for footer*/
.footer {
  color: white;
  background-color: #0d6efd;
  padding: 40px 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  padding-bottom: 0;
}

.contact {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 7fr;
  column-gap: 10px;
}
.contactform {
  width: 95%;
}
.contactform input[type="text"],
.contactform input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px 15px;
  width: 100%;
  background-color: #e8eeef;

  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}
.contactform textarea {
  height: 90px;
}

.contactform fieldset {
  border: none;
}
.contactform label {
  display: block;
  margin-bottom: 2px;
  font-weight: 550;
}

.contactform label.light {
  font-weight: 300;
  display: inline;
}
.contactform button {
  padding: 5px 39px 5px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: block;
  }
  .contact {
    display: block;
  }
  .loaderforlist {
    height: 400px;
  }
}

.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height:100vh;
  margin: 15px auto;
  overflow: hidden;
  /* border: 1px solid black; */
}

/* .main2 {
  margin: 30px;
  border: 1px solid black;
  width: calc(100% - 60px); 
  height: calc(100% - 60px); 
  background-color:white;
  display:grid;
  grid-template-columns: 0.15fr 1fr;
  column-gap: 10px;
} */
.main2 {
  margin: 30px;
  /* padding: 20px;  */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add border with slight transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  background-color: white;
  width: calc(100% - 60px); 
  height: 100vh; 
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  column-gap: 10px;
  overflow: hidden;
}
.control {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.control .part {
  padding: 10px;
  border-bottom: 1px solid black;
  transition: background-color 0.3s ease;
}

.control .part:hover {
  background-color: lightgray;
}
@media (max-width: 768px) {
  .main2{
    margin: 5px;
    display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 0fr 1fr;
  width:100%; 
  height:100vh;
  }
  .control {
    flex-direction: row; /* Change to horizontal layout */
    justify-content: space-between; /* Add space between links */
  }

  .part {
    border-bottom: none; /* Remove bottom border */
  }

  .part:not(:last-child) {
    margin-right: 10px; /* Add margin between links */
  }
}
/* edit ptofile */

.editProfile
{
  /* background-color: rgb(201, 60, 60); */
  /* color:white; */
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr;
 column-gap: 20px;
 padding:20px;
  justify-content: center;
  width:95%;
  border-radius: 20px;
  margin:20px auto;
  min-height: 80vh;
  overflow-y: scroll;
}
.editProfile img{
  width: auto; 
  height: 100%;
 border-radius: 50%;
  background-color: greenyellow;
}
.editProfile form{
  margin:10px auto;

}
.editProfile input[type="text"],
.editProfile input[type="password"],
.editProfile input[type="email"],
.editProfile input[type="tel"],
.editProfile input[type="date"],
.editProfile input[type="number"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px 15px;
  width: 100%;
  background-color: #e8eeef;

  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 10px;
}
.editProfile ::placeholder{
   color:black;
}
.editProfile button {
  padding: 5px 39px 5px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.editProfile fieldset {
  border: none;
}
.editProfile label {
  margin-bottom: 2px;
  font-weight: 550;
}

#photo{
  display: none;
}
.photoLabel{
  
  display: inline;
  margin:0 auto;
  position: relative;
  cursor: pointer;
  
}

.photoLabel::after{
  position: absolute;
  top:25px;
  left:0;
  content:'';
  background-color: #4bc970;
  width:0;
  height:4px;
  border-radius: 10px;
  transition:width 400ms ease-in-out;
}
.photoLabel:hover::after{
  width:100%;
 
}
@media only screen and (max-width: 768px){
  .editProfile{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
/* review */
.Booking-Heading {
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.userreview{
  height:100vh;
}
.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height:82vh;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.reviewcard {
  padding: 15px;
  border: solid gray 1px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right:20px;
  height:40vh;
}
.reviewimage img {
  width: 100%;
  border-radius: 3px;
  height:35vh;
}
@media only screen and (max-width: 768px){
  .cont{
    flex-direction: row;
    align-items: center;
    width: 100%;
  height:82vh;
  justify-content: space-evenly;
  overflow-y: scroll;
  }
  .reviewcard {
    padding: 15px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    height:auto
   
  }
}

/* booking card */

/* .Booking-Heading {
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
} */

/* .cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
} */

.book-card{
  display: flex;
  flex-direction: row;
  width: 45%;
  margin-bottom: 20px;
}

.date{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 8px white dotted;
  justify-content: center;
  align-items: center;
}

.date img{
  width: 80%;
  height: 80%;
}

.date:before,
.date:after
{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  top: -15px ;
  right: -18px;
  z-index: 1;
  border-radius: 50%
}

.date:after
{
  top: auto;
  bottom: -15px
}

.card-cont{
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 15px 25px;
}

.card-cont button{
  margin-left: 10px;
  background-color: dodgerblue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.review-card{
  background-color: rgb(201 60 60);
  color: white;
  font-weight: 550;
}

@media only screen and (max-width: 768px){
  .cont{
    flex-direction: column;
    align-items: center;
  }
  .book-card{
    width: 100%;
  }
  .review-card{
    width:85%;
  }
}
/* review window*/
.hideBackground{
  top:0; left: 0;
   width: 100%;
   height: 100%;
   position: fixed;
   background: rgba(50,50,50,0.9);
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
}
.reviewWindow{
   position: fixed;
   background-color: rgba(31, 235, 65, 0.897);
   color:white;
   height:600px;
   width:500px;
   display: flex;
   flex-direction: column;
    align-items: center;

}
.reviewWindow button {
  padding: 5px 39px 5px 39px;
  color: #fff;
  background-color: #3083ff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #3083ff;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px){

  .reviewWindow{
    height:70vh;
    width:100vw;
  }

}

.windowp{
  margin-top: 0;
  margin-bottom: 0;
}